In [2]:
class MyClass:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        print(f'You called + on {self} and {other}')
        return 'Hello from __add__'
    
    def __iadd__(self, other):
        print(f'You called += on {self} and {other}')
        return 'Hello from __iadd__'

In [3]:
c1 = MyClass('instance 1')
c2 = MyClass('instance 2')

In [4]:
result = c1 + c2

You called + on MyClass(name=instance 1) and MyClass(name=instance 2)

In [5]:
print(result)

Hello from __add__

In [6]:
c1, c2

(MyClass(name=instance 1), MyClass(name=instance 2))

In [7]:
id(c1)

2964374249352

In [8]:
c1 += c2

You called += on MyClass(name=instance 1) and MyClass(name=instance 2)

In [9]:
id(c1)

2964374250080

In [10]:
c1

'Hello from __iadd__'

In [11]:
class MyClass:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self

In [12]:
c1 = MyClass('Eric')
c2 = MyClass('Idle')
print(id(c1))
print(id(c2))

2964373979848
2964373980296

In [13]:
result = c1 + c2

In [14]:
id(result), result

(2964373108808, MyClass(name=EricIdle))

In [15]:
c1 += c2

In [16]:
id(c1), c1

(2964373979848, MyClass(name=EricIdle))

In [17]:
class MyClass:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __imul__(self, n):
        self.name *= n
        return self

In [18]:
c1 = MyClass('Eric')

In [19]:
id(c1)

2964373124936

In [20]:
result = c1 * 3

In [21]:
id(result), result

(2964374369416, MyClass(name=EricEricEric))

In [22]:
c1 *= 3

In [24]:
id(c1), c1

(2964373124936, MyClass(name=EricEricEric))

In [25]:
c1 = MyClass('Eric')

In [26]:
c1 * 3

MyClass(name=EricEricEric)

In [27]:
3 * c1

TypeError: unsupported operand type(s) for *: 'int' and 'MyClass'

In [28]:
(3).__mul__(c1)

NotImplemented

In [31]:
c1.__rmul__(3)

AttributeError: 'MyClass' object has no attribute '__rmul__'

In [32]:
class MyClass:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __rmul__(self, n):
        return self.__mul__(n)
    
    def __imul__(self, n):
        self.name *= n
        return self

In [33]:
c1 = MyClass('Eric')

In [34]:
c1 * 3

MyClass(name=EricEricEric)

In [35]:
3 * c1

MyClass(name=EricEricEric)

### in operator

In [36]:
l = [1, 2, 3, 4]
s = 'python'

In [37]:
1 in l

True

In [38]:
'a' in s

False

In [39]:
class MyClass:
    def __init__(self, name):
        self.name = name
        
    def __repr__(self):
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __rmul__(self, n):
        return self.__mul__(n)
    
    def __imul__(self, n):
        self.name *= n
        return self
        
    def __contains__(self, value):
        return value in self.name

In [40]:
c1 = MyClass('Eric Idle')

In [41]:
'Eric' in c1

True

In [42]:
'I' in c1

True

In [44]:
'z' in c1

False