In [1]:
l1 = [1, 2, 3, 4]
l2 = [5, 6]
print(id(l1), l1)
print(id(l2), l2)

2530380559752 [1, 2, 3, 4]
2530380550344 [5, 6]

In [2]:
l1 = l1 + l2
print(id(l1), l1)

2530380559624 [1, 2, 3, 4, 5, 6]

In [3]:
t1 = (1, 2, 3)

In [4]:
l1 = l1 + t1

TypeError: can only concatenate list (not "tuple") to list

In [5]:
l1 = [1, 2, 3, 4]
l2 = [5, 6]
print(id(l1), l1)
print(id(l2), l2)

2530379070984 [1, 2, 3, 4]
2530370638024 [5, 6]

In [6]:
l1 += l2

In [7]:
print(id(l1), l1)

2530379070984 [1, 2, 3, 4, 5, 6]

In [12]:
l1 = [1, 2, 3, 4]
t1 = (5, 6)
print(id(l1), l1)
print(id(t1), t1)

2530380675208 [1, 2, 3, 4]
2530379870408 (5, 6)

In [13]:
l1 += t1

In [14]:
print(id(l1), l1)

2530380675208 [1, 2, 3, 4, 5, 6]

In [15]:
l1 += range(7, 11)

In [16]:
print(id(l1), l1)

2530380675208 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
l1 += 'steve'

In [18]:
print(id(l1), l1)

2530380675208 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 's', 't', 'e', 'v', 'e']

In [20]:
l1 += {100, 'X', 'a'}
print(id(l1), l1)

2530380675208 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 's', 't', 'e', 'v', 'e', 'a', 'X', 100]

In [21]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(id(t1), t1)
print(id(t2), t2)

2530379948104 (1, 2, 3)
2530380817016 (4, 5, 6)

In [22]:
t1 += t2
print(id(t1), t1)

2530380315528 (1, 2, 3, 4, 5, 6)

In [23]:
l1 = [1, 2, 3]
print(id(l1), l1)

2530380613512 [1, 2, 3]

In [24]:
l1 = l1 * 2
print(id(l1), l1)

2530380613256 [1, 2, 3, 1, 2, 3]

In [25]:
l1 = [1, 2, 3]
print(id(l1), l1)

2530380612040 [1, 2, 3]

In [26]:
l1 *= 2
print(id(l1), l1)

2530380612040 [1, 2, 3, 1, 2, 3]

In [27]:
t1 = (1, 2, 3)
print(id(t1), t1)

2530379882312 (1, 2, 3)

In [28]:
t1 *= 2
print(id(t1), t1)

2530380315528 (1, 2, 3, 1, 2, 3)