In [1]:
a = {'k1': 100, 'k2': 200}

In [2]:
type(a)

dict

In [3]:
a

{'k1': 100, 'k2': 200}

In [4]:
print(a)

{'k1': 100, 'k2': 200}

In [5]:
hash((1, 2, 3))

2528502973977326415

In [6]:
hash((1, 2, 3))

2528502973977326415

In [7]:
d = {(1, 2, 3): 'this is a tuple'}

In [8]:
d[(1, 2, 3)]

'this is a tuple'

In [9]:
t1 = (1, 2, 3)

In [10]:
t2 = (1, 2, 3)

In [11]:
t1 == t2

True

In [12]:
hash(t1) == hash(t2)

True

In [13]:
t1 is t2

False

In [14]:
id(t1), id(t2)

(1928561253016, 1928561273496)

In [15]:
d[t1]

'this is a tuple'

In [17]:
d[t2]

'this is a tuple'

In [18]:
hash([1, 2, 3])

TypeError: unhashable type: 'list'

In [19]:
def my_func(a, b, c):
    print(a, b, c)

In [20]:
hash(my_func)

-9223371916319599594

In [21]:
d = {my_func: [10, 20, 30]}

In [22]:
d

{<function __main__.my_func(a, b, c)>: [10, 20, 30]}

In [23]:
def fn_add(a, b):
    return a + b

def fn_inv(a):
    return 1 / a

def fn_mult(a, b):
    return a * b

In [24]:
funcs = {fn_add: (10, 20), fn_inv: (2, ), fn_mult: (2, 8)}

In [25]:
funcs

{<function __main__.fn_add(a, b)>: (10, 20),
 <function __main__.fn_inv(a)>: (2,),
 <function __main__.fn_mult(a, b)>: (2, 8)}

In [26]:
for f in funcs:
    print(f)

<function fn_add at 0x000001C1074D40D8>
<function fn_inv at 0x000001C1074D41F8>
<function fn_mult at 0x000001C1074D43A8>

In [28]:
for f in funcs:
    result = f(*funcs[f])
    print(result)

30
0.5
16

In [29]:
for f, args in funcs.items():
    print(f, args)

<function fn_add at 0x000001C1074D40D8> (10, 20)
<function fn_inv at 0x000001C1074D41F8> (2,)
<function fn_mult at 0x000001C1074D43A8> (2, 8)

In [30]:
for f, args in funcs.items():
    print(f(*args))

30
0.5
16

In [31]:
d = dict(x=100, a=200)

In [32]:
d

{'x': 100, 'a': 200}

In [33]:
d = dict([('a', 100), ['x', 200]])

In [34]:
d

{'a': 100, 'x': 200}

In [35]:
d = {'a': 100, 'b': 200}

In [36]:
id(d)

1928562830136

In [37]:
d1 = dict(d)

In [38]:
d1

{'a': 100, 'b': 200}

In [39]:
id(d1)

1928562828376

In [40]:
d = {'a': 100, 'b': {'x': 1, 'y': 2}, 'c': [1, 2, 3]}

In [41]:
d1 = dict(d)

In [42]:
d

{'a': 100, 'b': {'x': 1, 'y': 2}, 'c': [1, 2, 3]}

In [43]:
d1

{'a': 100, 'b': {'x': 1, 'y': 2}, 'c': [1, 2, 3]}

In [44]:
d is d1

False

In [45]:
d1['b'] = 1000

In [46]:
d

{'a': 100, 'b': {'x': 1, 'y': 2}, 'c': [1, 2, 3]}

In [47]:
d1

{'a': 100, 'b': 1000, 'c': [1, 2, 3]}

In [48]:
d1 = dict(d)

In [49]:
d is d1

False

In [50]:
d['b'] is d1['b']

True

In [51]:
d1['b']['z'] = 100

In [52]:
d1

{'a': 100, 'b': {'x': 1, 'y': 2, 'z': 100}, 'c': [1, 2, 3]}

In [53]:
d1['c'].append(4)

In [54]:
d1

{'a': 100, 'b': {'x': 1, 'y': 2, 'z': 100}, 'c': [1, 2, 3, 4]}

In [55]:
d

{'a': 100, 'b': {'x': 1, 'y': 2, 'z': 100}, 'c': [1, 2, 3, 4]}

In [56]:
keys = ['a', 'b', 'c']
values = (1, 2, 3)

In [57]:
d = {}
for k, v in zip(keys, values):
    d[k] = v

In [58]:
d

{'a': 1, 'b': 2, 'c': 3}

In [59]:
d = {k:v for k, v in zip(keys, values)}

In [60]:
d

{'a': 1, 'b': 2, 'c': 3}

In [61]:
keys = 'abcd'
values = range(1, 5)

d = {k:v for k, v in zip(keys, values) if v % 2 == 0}

In [62]:
d

{'b': 2, 'd': 4}

In [63]:
x_coords = (-2, -1, 0, 1, 2)
y_coords = (-2, -1, 0, 1, 2)

In [65]:
grid = [(x, y)
        for x in x_coords
        for y in y_coords]
grid

[(-2, -2),
 (-2, -1),
 (-2, 0),
 (-2, 1),
 (-2, 2),
 (-1, -2),
 (-1, -1),
 (-1, 0),
 (-1, 1),
 (-1, 2),
 (0, -2),
 (0, -1),
 (0, 0),
 (0, 1),
 (0, 2),
 (1, -2),
 (1, -1),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, -2),
 (2, -1),
 (2, 0),
 (2, 1),
 (2, 2)]

In [66]:
import math

In [68]:
math.hypot(1, 1)

1.4142135623730951

In [69]:
grid_extended = [(x, y, math.hypot(x, y)) for x, y in grid]
grid_extended

[(-2, -2, 2.8284271247461903),
 (-2, -1, 2.23606797749979),
 (-2, 0, 2.0),
 (-2, 1, 2.23606797749979),
 (-2, 2, 2.8284271247461903),
 (-1, -2, 2.23606797749979),
 (-1, -1, 1.4142135623730951),
 (-1, 0, 1.0),
 (-1, 1, 1.4142135623730951),
 (-1, 2, 2.23606797749979),
 (0, -2, 2.0),
 (0, -1, 1.0),
 (0, 0, 0.0),
 (0, 1, 1.0),
 (0, 2, 2.0),
 (1, -2, 2.23606797749979),
 (1, -1, 1.4142135623730951),
 (1, 0, 1.0),
 (1, 1, 1.4142135623730951),
 (1, 2, 2.23606797749979),
 (2, -2, 2.8284271247461903),
 (2, -1, 2.23606797749979),
 (2, 0, 2.0),
 (2, 1, 2.23606797749979),
 (2, 2, 2.8284271247461903)]

In [70]:
grid_extended = {(x, y): math.hypot(x, y) for x, y in grid}

In [71]:
grid_extended

{(-2, -2): 2.8284271247461903,
 (-2, -1): 2.23606797749979,
 (-2, 0): 2.0,
 (-2, 1): 2.23606797749979,
 (-2, 2): 2.8284271247461903,
 (-1, -2): 2.23606797749979,
 (-1, -1): 1.4142135623730951,
 (-1, 0): 1.0,
 (-1, 1): 1.4142135623730951,
 (-1, 2): 2.23606797749979,
 (0, -2): 2.0,
 (0, -1): 1.0,
 (0, 0): 0.0,
 (0, 1): 1.0,
 (0, 2): 2.0,
 (1, -2): 2.23606797749979,
 (1, -1): 1.4142135623730951,
 (1, 0): 1.0,
 (1, 1): 1.4142135623730951,
 (1, 2): 2.23606797749979,
 (2, -2): 2.8284271247461903,
 (2, -1): 2.23606797749979,
 (2, 0): 2.0,
 (2, 1): 2.23606797749979,
 (2, 2): 2.8284271247461903}

In [72]:
counters = dict.fromkeys(['a', 'b', 'c'], 0)

In [73]:
counters

{'a': 0, 'b': 0, 'c': 0}

In [74]:
counters = dict.fromkeys('abc', 0)

In [75]:
counters

{'a': 0, 'b': 0, 'c': 0}

In [76]:
d = dict.fromkeys('python')

In [77]:
d

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [78]:
print(d)

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [79]:
for k in d:
    print(k)

p
y
t
h
o
n