In [1]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [2]:
print(s1, id(s1))
print(s2, id(s2))

{1, 2, 3} 1794783765896
{2, 3, 4} 1794783765448

In [3]:
s1 = s1 & s2

In [4]:
print(s1, id(s1))
print(s2, id(s2))

{2, 3} 1794783767688
{2, 3, 4} 1794783765448

In [5]:
id(globals()['s1'])

1794783767688

In [6]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

In [7]:
print(id(s1))
s1 |= s2
print(s1, id(s1))

1794783765896
{1, 2, 3, 4} 1794783765896

In [9]:
s1.update(s2)

In [10]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(id(s1))
s1.update(s2)
print(s1, id(s1))

1794783767464
{1, 2, 3, 4} 1794783767464

In [11]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(id(s1))
s1 &= s2
print(s1, id(s1))

1794783765896
{2, 3} 1794783765896

In [12]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(id(s1))
s1.intersection_update(s2)
print(s1, id(s1))

1794818748200
{2, 3} 1794818748200

In [13]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
print(id(s1))
s1 -= s2
print(id(s1), s1)

1794821789512
1794821789512 {1, 4}

In [14]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
print(id(s1))
s1.difference_update(s2)
print(id(s1), s1)

1794825318184
1794825318184 {1, 4}

In [15]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

result = (s1 - s2) - s3
print(result)

s1 -= s2 - s3
print(s1)

{1}
{1, 3, 4}

In [16]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

result = s1 - (s2 - s3)
print(result)

s1 -= s2 - s3
print(s1)

{1, 3, 4}
{1, 3, 4}

In [18]:
s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

result = s1 - (s2 - s3)
print(result)

s1 -= s2 - s3
print(s1)

s1 = {1, 2, 3, 4}
s2 = {2, 3}
s3 = {3, 4}

s1.difference_update(s2, s3)
print(s1)

{1, 3, 4}
{1, 3, 4}
{1}

In [22]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s1 ^ s2

{1, 2, 3, 6, 7}

In [23]:
print(id(s1))
s1 ^= s2
print(id(s1), s1)

1794825875752
1794825875752 {1, 2, 3, 6, 7}

In [24]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}

print(id(s1))
s1 |= s2 | s3
print(id(s1), s1)

1794825876872
1794825876872 {1, 2, 3, 4, 5, 6, 7}

In [25]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = {5, 6, 7}

s1.update([3, 4, 5], (6, 7, 8), 'abc')
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [27]:
s1 = {1, 2, 3}
s1 |= set([3, 4, 5]) | set((6, 7, 8)) | set('abc')
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c'}

In [28]:
def combine(string, target):
    target.update(string.split(' '))

In [29]:
def cleanup(combined):
    words = {'the', 'and', 'a', 'or', 'is', 'of'}
    combined -= words

In [30]:
result = set()
combine('lumberjacks sleep all night', result)
combine('the ministry of silly walks', result)
combine('this parrot is a late parrot', result)
cleanup(result)
print(result)

{'lumberjacks', 'all', 'ministry', 'late', 'parrot', 'sleep', 'night', 'this', 'silly', 'walks'}

In [31]:
def gen_read_data():
    yield ['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']
    yield ['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']
    yield ['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [32]:
data = gen_read_data()

In [33]:
next(data)

['Paris', 'Beijing', 'New York', 'London', 'Madrid', 'Mumbai']

In [34]:
next(data)

['Hyderabad', 'New York', 'Milan', 'Phoenix', 'Berlin', 'Cairo']

In [35]:
next(data)

['Stockholm', 'Cairo', 'Paris', 'Barcelona', 'San Francisco']

In [36]:
next(data)

StopIteration:

In [37]:
def filter_incoming(*cities, data_set):
    data_set.difference_update(cities)

In [38]:
result = set()
data = gen_read_data()
for page in data:
    result.update(page)
    filter_incoming('Paris', 'London', data_set=result)
print(result)

{'Madrid', 'Mumbai', 'Beijing', 'Hyderabad', 'Milan', 'Phoenix', 'Cairo', 'Stockholm', 'San Francisco', 'Barcelona', 'New York', 'Berlin'}